@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pagina Principal</h1>
</div>
<div>
     <a class="display-6" asp-area="" asp-controller="PuestoesPrueba" asp-action="Index">Puestos</a>
     <br />
     <br />
     <a class="display-6" asp-area="" asp-controller="Empleadoes" asp-action="Index">Empleados</a>

</div>
